Django>=4.2,<4.3
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
# mysqlclient==2.1.0  # only needed for MySQL (see config/settings/base.py)
python-dotenv==1.0.0
django-cors-headers==4.9.0

# dev / test
pytest==8.4.2
pytest-django==4.11.1
factory-boy==3.3.3
freezegun==1.5.5
ruff==0.16.9
